{% extends "_base.html" %}
{% block content %}
<div class="container_about">
  <h2 class='abouth2'>Where Tradition Meets Modern Beauty</h2>
  <div class='about' id='about1'>
      Welcome to Tyreka Nails & Makeup Salon,
      Uganda's premier destination for nail and makeup services. At the
      heart of our philosophy lies a blend of Uganda's rich cultural tapestry
      and the latest advancements in beauty technology. Our Culture: Uganda is
      celebrated for its diverse ethnic groups and vibrant cultures, ranging
      from the Baganda in the central region to the Acholi and Lango peoples in
      the north. This melting pot of traditions is reflected in our salon, where
      we embrace the beauty standards and practices from across the country. Our
      services are not just beauty treatments, but a celebration of Uganda's
      heritage.
  </div>
  <div class='about' id='about2'>
      We are continuously upgrading our skills to offer you the best service possible.
      Latest Equipment: Staying ahead in technology, our salon features:
      Automated Nail Machines for efficient nail shaping and polishing. UV/LED
      Nail Curing Lamps to ensure quick drying and long-lasting nail art. Electronic Nail Drills for precise nail treatment. Digital Nail Art
      Printers, allowing for stunning, personalized nail designs.
  </div>
  <div class='about' id='about3'>
      Additionally, we've implemented an Online Appointment Booking System to
      make your visit as convenient as possible, and our Point of Sale (POS)
      System ensures a smooth and efficient management of your appointments and
      transactions.
  </div> 
  <div class='about' id='about4'>
      Our Commitment to Cleanliness: We prioritize your health
      and safety above all. Our salon upholds the highest standards of hygiene,
      ensuring that every tool and space is sterilized and clean, providing you
      with a safe beauty experience. Stay Informed and Inspired: Don't miss out
      on the latest trends and tips in nail care. Check out our recommended Nail
      Care Apps for your smartphone.
  </div> 
  <div class='about' id='about5'>
      Location: [Insert your address here]
      Contact Us: Email: [Insert your email here] Phone: [Insert your phone
      number here] Visit [Salon Name] for an unparalleled beauty experience
      where Ugandan culture and modern beauty technology meet. We're not just a
      salon, we're a celebration of beauty and heritage.
  </div>
  <div class='left-container'>
    <ul class='leftGroup'>
      <li><a class='leftItem' href='#about1'>Introduction</a></li>
      <li><a class='leftItem' href='#about5'>Location</a></li>
      <li><a class='leftItem' href='#about3'>Our Model</a></li>
      <li><a class='leftItem' href='#about4'>Cleaning</a></li>
      <li><a class='leftItem' href='#about3'>Appointment</a></li>
      <li><a class='leftItem' href='#about2'>Skills</a></li>
      
    </ul>
  </div>
</div>
{% endblock content %}
