{% extends "_base.html" %} {% block content %}
<div class="containerService">
  <div class="containerService2">
    <h1>Our Services</h1>
    <ul class="servicesList">
      <li class="sitem">ACRYLIC NAILS (LONG) --- 120,000UGX</li>
      <li class="sitem">ACRYLIC NAILS (SHORT) --- 100,000UGX</li>
      <li class="sitem">REFILS --- 80,000UGX</li>
      <li class="sitem">OVERLAYS --- 80,000UGX</li>
      <li class="sitem">STICK ONS WITH GEL POLISH --- 80,000UGX</li>
      <li class="sitem">STICK ONS WITH NORMAL POLISH --- 120,000UGX</li>
      <li class="sitem">GEL APPLICATION --- 30,000UGX</li>
      <li class="sitem">GEL APPLICATION WITH NAIL ART --- 40,000UGX</li>
      <li class="sitem">FRENCH GEL APPLICATION --- 45,000UGX</li>
      <li class="sitem">SOAK OFF (ACRYLICS) --- 30,000UGX</li>
      <li class="sitem">SOAK OFF (GEL POLISH) --- 10,000UGX</li>
      <li class="sitem">REGULAR POLISH APPLICATION --- 10,000UGX</li>
      <li class="sitem">MANICURE (PLAIN) --- 35,000UGX</li>
      <li class="sitem">MANICURE WITH GEL --- 65,000UGX</li>
      <li class="sitem">PEDICURE (MEN) --- 50,000UGX</li>
      <li class="sitem">PEDICURE (WOMAN) --- 45,000UGX</li>
      <li class="sitem">PEDICURE (WITH GEL) --- 75,000UGX</li>
      <li class="sitem">MAKEUP (FULL) --- 35,000UGX</li>
      <li class="sitem">MAKEUP (SIMPLE) --- 25,000UGX</li>
      <li class="sitem">EYEBROW SHAPING --- 5,000UGX</li>
      <li class="sitem">BRIDAL --- STRATS AT 850,000UGX</li>
    </ul>
  </div>
</div>
{% endblock content %}
