/* Home pages Css */
.container {
    display: flex;
    position: absolute;
    justify-content: center;
    border: none;
    width: 100%;
    height: 150vh;
    top: 104px;
    padding: 1rem;
    color: yellowgreen;
    font-family: fantasy;
    background: rgba(255, 218, 223, 0.4);
    z-index: -5;
}


.header1 {
    display: flex;
    position: absolute;

    left: calc(28%);
    width: max-content;
    height: min-content;
    color: yellowgreen;
    font-size: 50px;
    border: none;
    top: 50px;
    z-index: 5;
}

.container2{
    display: grid;
    position: absolute;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: auto;
    width: max-content;
    height: auto;
    top: 250px;
    gap: 2rem;
    border: 1px solid black;
}
.item{
    display: grid;
    position: relative;
    width: 250px;
    height: 250px;
}
